* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

  .avala, .greece, .kusadasi, .novi-sad, .sweden, .budapest{
    display: flex;
    height: 110vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    display: block;
    margin: auto;
    min-height: 600px;
    min-width: 400;
  }

.avala{
    background: url('/public/images/ImagesAvala/_DSC3614.jpg') center center/cover fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.greece{
    background: url('/public/images/ImagesGrece/_DSC8446.jpg') center center/cover fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.kusadasi{
    background: url('/public/images/ImagesKusadasi/DSC_2036.jpg') center center/cover fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.budapest{
    background: url('/public/images/ImagesBudapest/_DSC9121.jpg') center center/cover fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.sweden{
    background: url('/public/images/ImagesSweden/_DSC9395.jpg') center center/cover fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.novi-sad{background: url('/public/images/ImagesNovisad1/DSC_1149.jpg') center center/cover fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.midpage{
    position: relative;
    top: 8%;
    bottom: 8%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.5);
    border-radius: 10px;
    background-color: aliceblue;
}

.header-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 3%;
    color: black;
    font-size: 100px;
}

.midpage-text{
    color: black;
    font-size: 50px;
    text-align: center;
}

.midpage-gear{
    color: black;
    margin-left: 48%;
}