* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

  .avala, .greece, .kusadasi, .novi-sad, .sweden{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

.avala{
    background: url('/public/images/ImagesAvala/_DSC3614.jpg') center center/cover no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.greece{
    background: url('/public/images/ImagesGrece/_DSC8446.jpg') center center/cover no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.kusadasi{
    background: url('/public/images/ImagesKusadasi/DSC_2036.jpg') center center/cover no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.sweden{
    background: url('/public/images/ImagesSweden/_DSC9395.jpg') center center/cover no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.novi-sad{background: url('/public/images/ImagesNovisad1/DSC_1149.jpg') center center/cover no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}