* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .articles,
  .contact,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .articles {
    background: url('/public/images/SharedImages/Pamukkale1.jpg') center center/cover no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .contact {
    background: url('/public/images/SharedImages/Tara1.jpg')  center center/cover no-repeat;
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    min-width: 300px;
    min-height: 830px;
  }

  .contact-head{
    font-size: 80px;
    padding-top: 50px;
  }
  .paragraf {
    overflow-wrap: break-word;
    margin-left: 11%;
    text-align: center;
    padding-bottom: 40px;
  }
  
  .text-container{
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: rgba(0, 0, 0, .5);
    min-height: auto;
    position: relative;
  }

  .social-icon-link {
    color: #dbd4d4;
    font-size: 34px;
  }
  
  .social-media {
    top: 850px;
    min-height: 8%;
    max-width: 25%;
    width: 100%;
    display: flex;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);	
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */	
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .social-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .sign-up {
    background-image: url('/public/images/SharedImages/Uvac1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    margin: auto;
    min-height: 600px;
    min-width: 400px;
  }

  .sign-up-text-h1{
    padding-top: 10%;
    font-size: 100px;
  }

  .sign-up-text-p{
    font-size: 50px;
    text-align: center;
  }

  .sign-up-gear{
    margin-left: 48%;
  }
