* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .articles,
  .contact,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .articles {
    background: url('/public/images/Pamukkale1.jpg') center center/cover no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .contact {
    background: url('/public/images/Tara1.jpg')  center center/cover no-repeat;
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .contact-head{
    inline-size: 50%;
    inline-size: 50%;
    text-align: center;
  }

  .paragraf {
    font-size: 20%; 
    inline-size: 50%;
    overflow-wrap: break-word;
    margin-left: 30%;
    text-align: center;
  }
  
  .text-container{
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: rgba(0, 0, 0, .5);
    min-height: auto;
    position: relative;
  }

  .social-section {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .sign-up {
    background-image: url('/public/images/Uvac1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-wrap: break-word;
    color: #fff;
  }

  .sign-up-text{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .sign-up-text-h1{
    
    font-size: 200px;
  }

  .sign-up-text-p{
    font-size: 50px;
  }
